body{
	font-family: "Montserrat"
}

#title{
	background-color: #ff4c68;
	color: #fff;
}


h1,h2,h3,h4,h5{
	font-family: "Montserrat";
	font-weight: 600;
}



p{
	color: #8f8f8f;
	
}	

/* Headings */

.big-heading {
	font-family: "Montserrat"
	font-size: 3.5rem;
	line-height: 1.5;
	font-weight: 600;

}

.section-heading{
	font-size: 3rem;
	line-height: 1.5;
}

/* Container section */


.container-fluid{
	padding: 3% 15% 7%;
}

/* Sections */
.coloured-section{
	background-color:#ff4c68;
	color: #fff; 
}

.white-section{
	background-color: #ffff;
}


/* Navigation bar */

.navbar{
	padding: 0 0 4.5rem;
}

.navbar-brand {
	font-family: "Ubuntu";
	font-size: 2.5rem;
	font-weight: bold;
} 

.nav-item{
	padding: 0 18px;
}

.nav-link{
	font-size: 1.2rem;
	font-family: "Montserrat"
}



/* Download Buttons */
.download-buttons{
	margin: 5% 3% 5% 0;
}


/* Title image */
.title-image{
	width: 60%;
	transform: rotate(25deg);
	right: 30%;
	position: absolute;
	
}

.icon{
	size: 200px;
	color: #ef8172;
	text-align: center;
	margin-bottom: 1rem;
}

	




/* features section */

#features{
	padding: 7% 15%;
	position: relative;
	z-index: 1;
	
}

.feature-title{
	font-size: 1.5rem;
}

.feature-box{
	text-align: center;
}

.icon:hover {
	color:#ff4c68;
}

/* testimonial section */

#testimonials{
	padding: 7%;
	text-align: center;
	background-color:  #ef8172;

}
.testimonial-image{
	width: 13%;
	border-radius: 100%;
	margin: 20px;
}
.testimonial-text{
	font-size: 3rem;
	line-height: 1.5;
}

.carousel.item{
	padding: 7% 15%;
}

#press{
	text-align: center;
	padding-bottom: 3%;
	background-color:  #ef8172;
}

.press-logo{
	width: 15%;
	margin: 20px 20px 50px;
}


/* pricing section */

#pricing{
	padding: 100px;
	text-align: center;

}

.pricing-column{
	padding: 3% 2%;
}

.price-text{
	font-size: 3rem;
	line-height: 1.5;
}

/* Call to action */

#cta {
	padding: 7% 15%;
	text-align: center;

 }

 .cta-text{
 	font-family: "Montserrat";
 	
 	line-height: 1.5;
 	font-size: 3.5rem;
 	font-weight: 600;
 }

 /* footer section */

#footer{
 	text-align: center;
 	padding: 7% 15%;
 }
 
 .social-icon {
 	margin: 20px 10px;
 }


 @media (max-width: 1028px){
	.title-image{
		position: static;
		transform: rotate(0);
	}
	#title{
		text-align: center;
	}
}